@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

#bodyV2{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: black;
}
main{
    background-color: black;
}

.casa{
    border: 5px solid white;
    width: 150px;
    height: 150px;
    font-size: 80px;
    color: white;
    text-align: center;
    line-height: 150px;
    box-shadow: 5px 10px 25px gray;
    font-family: 'Bungee Spice', cursive;
}

.casa:hover{
    background-color: grey;
    transition: 1s;
    cursor:pointer;
}
.linha{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    justify-content: center;
}

body{
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: black;
}

#Titulo{
    align-items: center;
    font-size: 34.5px;
    font-family: 'Bungee Spice', cursive;
    text-decoration: underline;
    color: white;
}

#ganhador{
    align-items: center;
    font-size: 30px;
    font-family:'Bungee Spice', cursive;;
    color: white;
}

#diplayDoBtn{
    display: grid;
    grid-template-rows: 60px;
    justify-items: center;
    align-items: center;
}

button{
    text-decoration: none;
    font-size: 21px;
    border: 3px solid white;
    background-color: black;
    color: white;
    box-shadow: 5px 10px 25px gray;
    height: 30px;
    width: 445px;
    font-family: 'Bungee Spice', cursive;
}

button:hover{
    background-color: grey;
    transition: 1s;
    height: 50px;
    width: 600px;
    cursor: pointer;
    font-size: 40px;
}

p{
    height: 35px;
    font-size: 30px;
    color: white;
    border: 3px solid white;
    box-shadow: 5px 10px 25px gray;
    font-family: 'Bungee Spice', cursive;
}
